@model Note2Book.ViewModels.HomeViewModel

@{
ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>

<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

<div class="text-center">
    <h2>Избранные книги</h2>
    <div class="favorite-slider">
        @foreach (var favorite in Model.FavoriteBooks)
        {
            <div class="slider-item">
                <img src="@favorite.Image" style="width: 150px; height: 200px;">
                <p>@favorite.Author.LastName @favorite.Author.Name</p>
            </div>
        }
    </div>
</div>

<script>
    $('.favorite-slider').slick({
        centerMode: true,
        centerPadding: '60px',
        slidesToShow: 3,
        responsive: [
            {
                breakpoint: 768,
                settings: {
                    arrows: false,
                    centerMode: true,
                    centerPadding: '40px',
                    slidesToShow: 3
                }
            },
            {
                breakpoint: 480,
                settings: {
                    arrows: false,
                    centerMode: true,
                    centerPadding: '40px',
                    slidesToShow: 1
                }
            }
        ]
    });
</script>

<style>
    .favorite-slider {
        width: 80%;
        margin: 0 auto;
    }

    .slider-item {
        text-align: center;
        padding: 20px;
    }

    .slider-item img {
        border-radius: 10px;
        margin-bottom: 10px;
    }

    .slider-item h5 {
        font-size: 1.2rem;
        color: #4B0082;
    }

    .slider-item p {
        color: #555;
        font-size: 0.9rem;
    }

    /* Slick Slider */
    .slick-prev:before,
    .slick-next:before {
        color: #4B0082; /* Цвет стрелок слайдера */
    }
</style>
